<!doctype html>
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/index.css">
	<script src="js/ag.js"></script>
	<script src="js/index.js"></script>
</head>
<body>
<div class="controll" ng-controller="cc">
	<div class="left">
		<div class="top">
			<h3></h3>
			<div class="tixing">提醒事项 <div>&gt;</div></div>
			<div class="jia" ng-click="addItem()">


			</a>
			</div>
		</div>
		<div class="bottom" >
		    <ul ng-repeat="v in todo track by $index">
				<li  ng-click="select($index)" ng-class="$index==index?'xianzai':''"
				">
					<div class="bt">
						<div class="naoling" ng-style="{background:v.color}"></div>
						<h3>{{v.title}}</h3>
					</div>

				</li>

			</ul>


		</div>
	</div>
	<div class="right">
		<div class="top">
			<div class="sousuo"></div>
			<input type="text" placeholder="搜索所有提醒">
		</div>
		<div class="kuang" ng-show="optflag">
			<div class="kuangli">

			<input type="text"   ng-style="{color:changeColor}" ng-model="chtt" >
				<div class="xing"></div>
			<div class="liebiao">
				<div class="title">列表颜色</div>
				<div class="yuan">
					<ul>
						<li  ng-repeat="v in colors" ng-style="{backgroundColor:v,borderColor:changeColor==v?v:'rgba(0,0,0,0)'}" ng-click="sColor(v)"    ></li>
					</ul>
				</div>
			</div>
			<div class="b-kuang">
				<div class="aa"><a href="javascript:;" ng-click="dellist()">删除</a></div>
				<div class="tuichu1">
					<a href="javascript:;" ng-click="optflag=!optflag">取消</a>
					<a href="javascript:;" ng-click="comcc()">完成</a>
				</div>
			</div>

			</div>
		</div>

		<div class="bottom">
			<div class="hezi">
				<div class="biaotou" ng-style="{color:todo[index].color}">{{todo[index].title}}</div>
				<div class="xiangmu"  ng-style="{color:todo[index].color}" ng-click="optflag=!optflag">选项</div>

			</div>

			<div class="wancheng">
				<div class="sanjiao" ng-click="flag=!flag" ng-class="{true:'sanjiao1',false:'sanjiao'}[flag]"></div>
				<div class="yijing">已完成 : {{down}} 项</div>
				<div class="qingchu" ng-style="{color:todo[index].color}" ng-click="clearbox()">清除完成项目</div>
			</div>




			<ul ng-if="flag">

				<li  ng-repeat="v in todo[index].list |filter:'true'">
					<div class="ccs"  ng-style="{borderColor:todo[index].color,backgroundColor:todo[index].color}"   ng-click="bianhua(v,false)"></div>
					<p contenteditable ng-blur="change(v,$event)">{{v.title}}</p>
				</li>
			</ul>
			<br>

			<ul>
				<li  ng-repeat="v in todo[index].list |filter:'false'">
					<div class="ccc" ng-style="{borderColor:todo[index].color}"   ng-click="bianhua(v,true)"></div>
					<p contenteditable ng-blur="change(v,$event)">{{v.title}}</p>
				</li>
			</ul>
			<ul>
				<li ng-click="add()">新项目</li>
			</ul>
		</div>
	</div>
</div>
	
</body>
</html>